@font-face {
  font-family: "Sofia Pro";
  src: url("../font/SofiaProExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
