<div class="col-md-4">
  <div class="card profile-card">
    <div class="card-img-block">
      <img class="card-img-top" src="/img/profilePictures/florent-vigot-Flow.jpg"
        alt="Photo de profil de 'user.Prenom'">
    </div>
    <div class="card-body pt-0">
      <h5 class="card-title">Florent Vigot</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn">Voir le profil -></a>
    </div>
  </div>
</div>